
.body{
    font-family: 'Poppins', sans-serif;
    margin:opx;
}
.color{
    color: orange;
    
}
h1{
    font-size: 40px;

}
.flexibal-continer{
    display: flex;
    margin-bottom: 150px;
    
}
.half-width{
    width:50%;
    padding-left:10%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image:images url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream-Big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.exprience-item{
    box-shadow: 2x 2px 4px orange;
    margin-left: 5px;
    margin-right: 5px;
    
}

  

